/* * {
  border: red solid 1px;
} */
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fef5ef;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  height: 100%;
}
.text-lgd {
  text-align: center;
  margin: 40px;
}

header {
  border-bottom: 1px solid black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 250px;
  height: 150px;
}
.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-right: 25px;
}
.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  flex-direction: row;
  margin-left: 25px;
}
.nav a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.nav a:hover {
  background-color: #ffe8c1;
  border-radius: 30px;
}
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.map {
  width: 500px;
  height: 500px;
  border: solid black 1px;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 450px;
  background-color: #81ae9d;
  color: #ffe8c1;
}
.contact-lgd {
  display: flex;
  flex-direction: column;
}
.lgd-links {
  display: flex;
  flex-direction: column;
}
.lgd-links a {
  text-decoration: none;
  color: #ffe8c1;
}
.euro {
  background-color: #fef5ef;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: 1px solid black;
}

.logo-euro {
  width: 130px;
  height: 30%;
  margin-top: 10px;
}
.text-euro {
  text-align: center;
}
