/* * {
  border: red 1px solid;
} */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fef5ef;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  border: 1px solid black;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  width: 250px;
  height: 150px;
}
.social {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  height: 100px;
  margin-right: 25px;
}
.nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  flex-direction: row;
  margin-left: 25px;
}
.nav a {
  font-size: 20px;
}
main {
  height: 635px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: row;
  margin-top: 25px;
  margin-left: 35px;
  margin-right: 35px;
}
a {
  font-size: 24px;
  text-decoration: none;
  color: black;
}
a:hover {
  background-color: #ffe8c1;
  border-radius: 30px;
}
.child {
  height: 400px;
  margin: 10px;
  width: 600px;
}
.euro {
  background-color: #fef5ef;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.logo-euro {
  width: 130px;
  height: 30%;
  margin-top: 10px;
}
.text-euro {
  text-align: center;
}
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  height: 350px;
  margin-top: auto;
  background-color: #81ae9d;
}

.img-from {
  width: 100px;
  height: 100px;
}

.add-topic-expanded {
  overflow: hidden;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  transition: max-height 0.5s;
  z-index: 2;
  border-radius: 25px;
  max-height: 20rem;
}

.topic-input {
  margin: 10px 10px 0 10px;
  height: 2rem;
  text-align: left;
  border-radius: 50px;
  padding: 0.5em;
}

.content-input {
  margin: 10px;
  min-height: 1.5em;
  height: 20em;
  text-align: left;
  font-size: larger;
  border-radius: 20px;
  padding: 0.5em;
}
.email-input {
  margin: 10px 10px 0 10px;
  height: 2rem;
  text-align: left;
  padding: 0.5em;
  border-radius: 25px;
}
.add-button {
  width: 3rem;
  border-radius: 50px;
  margin: 0 auto 5px auto;
  padding-top: 0.3rem;
  margin-top: 10px;
}
.inputForm {
  overflow: hidden;
  top: 98px;
  left: 370px;
  width: 350px;
  background-color: #fef5ef;
  border: solid 1px black;
  box-shadow: 15px 15px 40px;
  border-radius: 25px;
}
